<div class="container clearfix topmargin bottommargin">
    <div class="row">
        <div class="col">
            <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder fbox-dark active">
                <div class="fbox-icon">
                    <a href="/Boosting"><i class="icon-line2-user-following i-alt"></i></a>
                </div>
                <h3>@L("LeagueBoosting")</h3>
            </div>
        </div>
        <div class="col">
            <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder fbox-dark">
                <div class="fbox-icon">
                    <a href="/Boosting/DuoBoosting"><i class="icon-line2-users i-alt"></i></a>
                </div>
                <h3>@L("DuoBoosting")</h3>
            </div>
        </div>
        <div class="col">
            <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder fbox-dark">
                <div class="fbox-icon">
                    <a href="/Boosting/WinBoosting"><i class="icon-line-star i-alt"></i></a>
                </div>
                <h3>@L("WinBoosting")</h3>
            </div>
        </div>
        <div class="col">
            <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder fbox-dark">
                <div class="fbox-icon">
                    <a href="/Boosting/PlacementMatches"><i class="icon-sitemap i-alt"></i></a>
                </div>
                <h3>@L("PlacementMatches")</h3>
            </div>
        </div>
        <div class="col">
            <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder fbox-dark">
                <div class="fbox-icon">
                    <a href="/Boosting/NormalWins"><i class="icon-rocket i-alt"></i></a>
                </div>
                <h3>@L("NormalWins")</h3>
            </div>
        </div>
    </div>
</div>