@using Abp.Authorization.Users
@model EloBoost.Models.Account.LoginFormViewModel
@section Styles
    {
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>
}
@section Scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Shared/Forms.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Shared/Forms.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="card" id=FormArea">
    <div class="body">
        <form id="AjaxForm" asp-action="ChangePassword" method="post">
            <h4 class="text-center">@L("ChangePassword")</h4>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input autocomplete="off" type="password" class="form-control" name="Password" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input autocomplete="off" type="password" class="form-control" name="Password" placeholder="@L("ConfirmPassword")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a asp-action="Login" class="btn btn-default waves-effect">@L("Back")</a>
                    <button id="btnReset" class="btn bg-pink waves-effect" type="submit">@L("ChangePassword")</button>
                </div>
            </div>
        </form>
    </div>
</div>
